a:link,
a:visited,
a:active {
    text-decoration: none;
    
}
iframe {
    width: 100%;
    height: 700px;
}
.top-bar {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #007932;
    color: white;
    text-align: center;
}

.puntuacionMapa{
    background-color: #007932 !important;
    color: white;
    text-align: center;
}

.modal, .modalCiudad, .modalTerminado {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    
}

.modalCiudad img {
    margin-top: 150px;
    margin-left: 500px;
}

.mapaAndalucia, .mapaCiudad, #puntuacionMapa {
    background-color: #fefefe;
    border: 1px solid #888;
}

.close, .closeCiudad {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus, .closeCiudad:focus, .closeCiudad:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#nombreCiudad, #imagenResult {
    position: absolute;
    text-align: center;
    z-index: 2;
    display: none;
}



.btn{
    align-items: center;
    justify-content: center; 
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #007932 !important;
    border-color: #007932 !important;
    
}
.separador{
    margin-top: 20%;
}

.footer-wrapper {
    line-height: 1.2;
    color: #FFF;
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    width: 100%;   
}

.mt120 {
    margin-top: 120px !important;
}

body .bg3 {
    background-color: #007932;
}

.content {
    width: 100% !important;
    
    margin: 0 auto;
    position: relative;
    
}

.pb20 {
    padding-bottom: 10px !important;
}

.ta-c {
    text-align: center!important;
}

.footer-wrapper .logo-footer {
    margin-top: -97px;
    
}
.logo{
    width: 100px !important;
    height: 100px !important;
}

.borde{
    
    border-color: white !important;
    background-color: #007932;
}
.borde:hover{
    border-color: white !important;
    background-color: white;
    
}

button a{
    color: white;
}

button a:hover{
    color: white;
    
}
