a:link,
a:visited,
a:active {
    text-decoration: none;
    color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #007932 !important;
    border-color: #007932 !important;
}
.separador{
    margin-top: 20%;
}

.footer-wrapper {
    line-height: 1.2;
    color: #FFF;
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    width: 100% !important;   
}

.mt120 {
    margin-top: 120px !important;
}

body .bg3 {
    background-color: #007932;
}

.content {
    width: 100%;
    
    
    margin: 0 auto;
    position: relative;
    
}

.pb20 {
    padding-bottom: 10px !important;
}

.ta-c {
    text-align: center!important;
}

.footer-wrapper .logo-footer {
    margin-top: -97px;
    
}
.logo{
    width: 100px !important;
    height: 100px !important;
}
